#attstbl tr th,#asctblnt tr th{
    background-color: #0072c6;
    color: #000000;
}
.cbox{
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
}

#cmsg{
	 color: red;
	 font-weight: bold;;
}

#loading{
	display: none;
}

.ui-dialog-titlebar { 
	display: none; 
}

#campus{
	display: none;
}

#departments{
	display: none;
}

#cmsg{
	color: red;
	font-weight: bold;
}

.finalize{
	display: none;
}